.box {
    width: 500px;
    height: 1000px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    float: left;
  }
  
  #box1 {
    background-color: #1abc9c;
  }
  
  #box2 {
    background-color: #e67e22;
  }
  
  #box3 {
    background-color: #9b59b6;
  }
  
  #box4 {
    background-color: #e74c3c;
  }
  #masterbox{

    display: flex;
    flex-direction: column;
  }

  .button {
    width: 150px;
    height: 70px;
    background-color: #e78b3c;
    color: #ffffff;
    text-align: center;
    margin: 10px;
    float: left;
  }